

        <h1>Hello!! your are sucessfully signed in </h1>
        <h2>Profile details</h2>
        <div>
            
            <% if (user) { %>
                <h3>Name : <%= user.name %></h3>
                <h3>City: <%= user.city %></h3>
                <h3>Dob : <%= user.dob %></h3>
              <% } %>
          

        </div>
        
        <form action='/Signout'>
            <input type="submit" value="Sign out" />
        </form>
        
        