<html>
    <body>
        <h1>Sign Up</h1>
        <form  action ="/signup" method="POST">
            <input type="text" name="email" placeholder="email" id="email">
            <input type="password" name="password" placeholder="password" id="password">
            
           
            <button >submit</button>
        </form>
        
    </body>
</html>